.page-title {
    font-family: 'Krona One', serif;
    text-align: center;
    color: black;
    text-decoration: underline;
    font-weight: normal;
    font-size: 2em;
    text-shadow: 2px 2px #333FFF
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

html {
    min-height: 100vh;
}

.game-info {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0);
    font-family: 'Krona One', serif;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.596);
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    background-color: whitesmoke;
    height: 175px;
    width: 125px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transform: scale(0.9);
    transition: box-shadow 0.3s ease-out;
    border-radius: 12px;
    border-width: 2px;
    border: 2px solid black;
}

.card:hover {
    background-color: whitesmoke;
    height: 175px;
    width: 125px;
    box-shadow: black;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: scale(0.88);
    transition: transform 200ms ease-in-out;
}

.card-back.red.visible {
    background-color: red;
}
.card-back.blue.visible {
    background-color: blue;
}
.card-back.green.visible {
    background-color: green;
}
.card-back.yellow.visible {
    background-color: yellow;
}
.card-back.orange.visible {
    background-color: orange;
}
.card-back.pink.visible {
    background-color: pink;
}
.card-back.magenta.visible {
    background-color: magenta;
}
.card-back.black.visible {
    background-color: black;
}

.overlay-text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 3;
    color: white;
    background-color: rgba(0,0,0,0.85);
    font-family: 'Krona One', seif;
    display: none;
    font-size: 1em;
}

.overlay-text.visible {
    display: flex; 
    animation: overlay-grow 500ms forwards;
    text-transform: uppercase;
}

#game-over-text.visible {
    display: flex; 
    animation: overlay-grow 500ms forwards;
    text-transform: uppercase;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }

    to {
        font-size: 5em;
        background-color: rgba(0,0,0,0.8);
    }
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }
    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}
